@import "tailwindcss";

body {
  font-family: "SN Pro", sans-serif;
}

/* Projects scrollbar */

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

/* Chrome / Edge / Safari */

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.input-label {
  display: block;
  margin-bottom: 0.6rem;

  font-size: 0.9rem;
  font-weight: 600;

  color: var(--text);
}

.input-field {
  width: 100%;

  padding: 0.85rem 1rem;

  border-radius: 18px;

  border: 1px solid var(--border);

  background: var(--surface-soft);

  color: var(--text);

  outline: none;

  transition:
    border-color 0.25s,
    box-shadow 0.25s,
    transform 0.2s;
}

.input-field::placeholder {
  color: var(--text-light);
}

.input-field:focus {
  border-color: var(--primary);

  box-shadow: 0 0 0 4px var(--primary-light);
}
